.tutorial{
    text-align: center;
}
*{
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
 

/* Tutorial top navbar */


/* Tutorial carousel navbar */




/* Tutorial body */
.tutbody{
    display: flex;
    
}
.ltutbody{
    flex-basis: 15%;
    background-color: aqua;
}
.ctutbody{
    flex-basis: 73%;
    background-color: whitesmoke;
}
.rtutbody{
    flex-basis: 12%;
    background-color: red;
}
.ctutbodyitems p {
    text-align: left;
    font-size: 2rem;
}
.ctutbodyitems h4{
    text-align: left;
    margin-top: 0.5rem;
}
 

/* left part of the main body */
.ltutbodyitems{
    scroll-behavior: smooth;
    height: 38rem;
    overflow: auto;
}

.ltutbodyitems li{
    text-align: left;
    list-style: none;
    padding: 0.4rem;
    padding-left: 1rem;
}
.ltutbodyitems li:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* center part of the div mian body */
.ctutbodyitems{
    padding: 0.8rem;
    scroll-behavior: smooth;
    height: 38rem;
    overflow: auto;
}
.ctutbodyitems h1{
    text-align: left;
    font-size: 2rem;
}
.ctutbodyitems h5{
    text-align: left;
    /* font-size: 2rem; */
}
.cont1 p{
    text-align: left;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}
.cont1 li{
    padding-top: 0.5rem;
    font-size: 1rem;
    text-align: left;
}
.cont2 img{
    width: 75%;
    height: 20rem;
}
.cont2 p{
    font-size: 1.2rem;
    margin-top: 0.2rem;
}
.cont2 h2{
    text-align: left;
    font-weight: 400;
}
/* media queries  */
@media screen and (max-width: 480px) {
    .rtutbody{
      display: none;
    }
    .ctutbody{
        flex-basis: 75%;
    }
    .ltutbody{
        flex-basis: 25%;
    }
   
  }


 
